---
import "@fontsource-variable/outfit"
import "@fontsource/young-serif"

import { Image } from "astro:assets"
import OmelleteImage from "../../public/image-omelette.jpeg"

import Preparation from "../components/Preparation.astro"
import Ingredients from "../components/Ingredients.astro"
import Instrutions from "../components/Instrutions.astro"
import Nutrition from "../components/Nutrition.astro"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Recipe Page</title>
  </head>
  <body class="bg-[#F3E5D7]">
    <header class="w-full grid place-items-center">
      <div
        class="w-full flex flex-col items-center gap-10 md:max-w-[736px] bg-white md:mt-32 md:px-10 md:pt-10 rounded-t-3xl"
      >
        <Image
          src={OmelleteImage}
          width={375}
          height={171}
          loading="eager"
          class="md:rounded-xl w-full"
          alt="omelette"
        />
        <div class="flex flex-col w-10/12 md:w-full gap-6">
          <h1 class="font-serif text-4xl">Simple Omelette Recipe</h1>
          <h2 class="text-[#5F564D] leading-normal">
            An easy and quick dish, perfect for any meal. This classic omelette
            combines beaten eggs cooked to perfection, optionally filled with
            your choice of cheese, vegetables, or meats.
          </h2>
        </div>
      </div>
    </header>
    <main class="w-full grid place-items-center md:mb-32">
      <div
        class="w-full flex flex-col items-center gap-8 md:max-w-[736px] md:px-10 pt-8 md:pb-10 bg-white md:rounded-b-3xl"
      >
        <Preparation
          items={[
            { title: "Total", desc: "Approximately 10 minutes" },
            { title: "Preparation", desc: "5 minutes" },
            { title: "Cooking", desc: "5 minutes" },
          ]}
        />
        <Ingredients
          items={[
            "2-3 large eggs",
            "Salt, to taste",
            "Pepper, to taste",
            "1 tablespoon of butter or oil",
            "Optional fillings: cheese, diced vegetables, cooked meeats, herbs",
          ]}
        />
        <Instrutions
          items={[
            {
              title: "Beat the eggs",
              desc: "In a bowl, beat the eggs with a pinch of salt and pepper until they are well mixed. You can add a tablespoon of water or milk for a fluffier texture.",
            },
            {
              title: "Heat the pan",
              desc: "Place a non-stick frying pan over medium heat and add butter or oil.",
            },
            {
              title: "Cook the omelette",
              desc: "Once the butter is melted and bubbling, pour in the eggs. Tilt the pan to ensure the eggs evenly coat the surface.",
            },
            {
              title: "Add fillings (optional)",
              desc: "When the eggs begin to set at the edges but are still slightly runny in the middle, sprinkle your chosen fillings over one half of the omelette.",
            },
            {
              title: "Fold and serve",
              desc: "As the omelette continues to cook, carefully lift one edge and fold it over the fillings. Let it cook for another minute, then slide it onto a plate.",
            },
            {
              title: "Enjoy",
              desc: "Serve hot, with additional salt and pepper if needed.",
            },
          ]}
        />
        <Nutrition
          items={[
            { title: "Calories", desc: "277kcal" },
            { title: "Carbs", desc: "0g" },
            { title: "Protein", desc: "20g" },
            { title: "Fat", desc: "22g" },
          ]}
        />
      </div>
    </main>
  </body>
</html>
